.info-block {
    background-color: #ffb03022;
    box-shadow: 0.5rem 0.5rem 0.5rem #F9690022;
}

.other-block {
    background-color: #ffb03022;
    box-shadow: 0.2rem 0.2rem 0.2rem #F9690022;
    min-height: 10rem;
}

.info-block-mobile {
    background-color: #ffb03022;
    margin-top: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #F9690022;
}

.recommendations {
  margin-top: 10rem;
}
