<a class="nav-link" *ngIf="(authService.isLoggedIn() || alwaysVisible)  && (text !== null && text !== '')" (click)="interact()" routerLinkActive="active">
    <i class="bi bi-{{icon}}" *ngIf="icon && icon !== ''"></i><i class="bi bi-patch-question" *ngIf="!(icon && icon !== '')"></i> | {{text | uppercase}}
</a>
<div *ngIf="!(text !== null && text !== '')" class="row">
    <a class="nav-link text-center col" *ngIf="(authService.isLoggedIn() || alwaysVisible)" (click)="interact()" routerLinkActive="active">
        <i class="bi bi-{{icon}}" *ngIf="icon && icon !== ''"></i><i class="bi bi-patch-question" *ngIf="!(icon && icon !== '')"></i>
    </a>
</div>