<div class="card mb-3" *ngIf="!mobile">
  <div class="card-body">
    <div class="d-flex flex-column flex-lg-row">
      <div class="row flex-fill">
        <div class="col">
          <h4 class="h5">{{author.firstname}}</h4>
        </div>
        <div class="col">
          <h4 class="h5">{{author.lastname}}</h4>
        </div>
        <div class="col text-end">
          <div class="btn-group"
               aria-label="Author management button">
            <button class="btn btn-outline-primary" title="Info" [routerLink]="[author.id, 'details']">
              <i class="bi bi-info-lg"></i>
            </button>
            <button class="btn btn-outline-warning" title="Bearbeiten" [routerLink]="[author.id, 'edit']">
              <i class="bi bi-pencil"></i>
            </button>
            <button *ngIf="isAdmin()" class="btn btn-outline-danger" title="Löschen" (click)="openAddModal(messageAddModal)">
              <i class="bi bi-trash"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="mobile">
  <div class="card-body">
    <div class="d-flex flex-column flex-lg-row">
      <div class="row flex-fill">
        <div class="col">
          <h4 class="h5">{{author.firstname}}</h4>
        </div>
        <div class="col">
          <h4 class="h5">{{author.lastname}}</h4>
        </div>
      </div>

      <div class="row flex-fill">
        <div class="col">
          <div class="btn-group"
               aria-label="Author management button">
            <button class="btn btn-outline-primary" title="Info" [routerLink]="[author.id, 'details']">
              <i class="bi bi-info-lg"></i>
            </button>
            <button class="btn btn-outline-warning" title="Bearbeiten" [routerLink]="[author.id, 'edit']">
              <i class="bi bi-pencil"></i>
            </button>
            <button *ngIf="isAdmin()" class="btn btn-outline-danger" title="Löschen" (click)="openAddModal(messageAddModal)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #messageAddModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Autor löschen?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" id="close-modal-btn" (click)="modal.dismiss('close')">
      Abbrechen
    </button>
    <button type="button" class="btn btn-danger bi bi-trash" id="delete-modal-btn" (click)="deleteAuthor()">
      Löschen
    </button>
  </div>
</ng-template>
