.selectList {
  margin: 1rem;
}


.createButton {
  max-width: 20rem;
  margin-top: 1rem
}

.container-pagination {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.deleteButton {
  max-width: 3rem;
  margin: 1rem
}
