.addRemoveButton {
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  font-size: 20px;
}

.textColor {
  color: white;
}

.small-image {
  width: 20rem;   /* Set the desired width */
  height: auto;   /* Allow the height to adjust proportionally */
}

.fl-margin {
  margin-left: 0.5rem;
}
