.small-image {
  width: 20rem;   /* Set the desired width */
  height: auto;   /* Allow the height to adjust proportionally */
  margin-left: 10px;
}

.info-block {
  background-color: #ffb03022;
  box-shadow: 0.5rem 0.5rem 0.5rem #F9690022;
}

.info-block-mobile {
  background-color: #ffb03022;
  margin-top: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #F9690022;
}
